@page "/resultMsg"
@*@if (Result != null)
{
    @if (Result.Status == ActionStatus.OK)
    {
        <Alert Type="@AlertType.Success"
               Message="成功"
               Description="@Result.Msg"
               ShowIcon Closable="true" />
    }
    @if (Result.Status == ActionStatus.Failed)
    {
        <Alert Type="@AlertType.Error"
               Message="失败"
               Description="@Result.Msg"
               ShowIcon Closable="true" Style="position:absolute;margin-top:-300px;" OnClose="OnClose" />
    }
}*@
<Modal Title="提示"
       Visible="@_visible"
       OnOk="@HandleOk"
       OnCancel="@HandleCancel">
    <p>Some contents...</p>
</Modal>

@code {
    [Parameter]
    public ActionResult Result { get; set; }
    [Parameter]
    public bool _visible { get; set; } = false;

    public void SetResult(ActionResult result)
    {
        Result = result;
    }
    private void OnClose()
    {
        Result = null;
        //NavigationManager.NavigateTo("")
    }


    private void HandleOk(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }

    private void HandleCancel(MouseEventArgs e)
    {
        Console.WriteLine(e);
        _visible = false;
    }
}
